{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2>Dashboard</h2>

    <div id="channel-list">
        {% for channel in channels %}
            <button class="widget-btn" data-channel-id="{{ channel.id }}" data-channel-name="{{ channel.name }}">
                Voir le graphique : {{ channel.name }}
            </button>
        {% empty %}
            <p>Aucun canal n'a été ajouté.</p>
        {% endfor %}  
    </div>

    <br>
    <div id="graphs-container" style="display: flex; flex-wrap: wrap; gap: 20px;">
        <!-- Les graphiques seront ajoutés dynamiquement ici -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/interact.js/1.10.11/interact.min.js"></script> <!-- Pour redimensionner -->

{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/script_dashboard.js' %}"></script>
{% endblock %}