{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles_home.css' %}">
    <title>{% block title %} Accueil - Surveillance solaire {% endblock %}</title>
</head>
<body>
    <header>
        <h1>Bienvenue sur la plateforme de surveillance des installations solaires</h1>
        <div class="home-buttons">
            <a href="{% url 'login' %}" class="btn">Connexion</a>
            <a href="{% url 'signup' %}" class="btn btn-secondary">Inscription</a>
        </div>
    </header>

    <main>
        <p>
            Notre plateforme est conçue pour vous offrir une <strong>gestion centralisée et en temps réel</strong> de vos installations solaires. Que vous soyez un propriétaire d'installation, un gestionnaire de parc solaire ou un technicien de maintenance, notre outil vous permet de <strong>surveiller, analyser et optimiser</strong> les performances de vos systèmes photovoltaïques avec précision et simplicité.
        </p>
        <h2>Pourquoi choisir notre plateforme ?</h2>
        <div class="blog-list">
            <div class="home-container">
                <img src="{% static 'images/surveillance.webp' %}" alt="Panneaux solaires">
                <p>Accédez à une interface intuitive pour surveiller vos installations solaires en temps réel.</p>
            </div>
            <div class="home-container">
                <img src="{% static 'images/performance.jpg' %}" alt="Panneaux solaires">
                <p>Suivre la performance de vos panneaux solaires à tout moment.</p>
            </div>
            <div class="home-container">
                <img src="{% static 'images/notification.png' %}" alt="Alertes de dysfonctionnement">
                <p>Recevoir des alertes en cas de dysfonctionnement ou de baisse de rendement.</p>
            </div>
            <div class="home-container">
                <img src="{% static 'images/analyser.webp' %}" alt="Analyse des données">
                <p>Analyser les données historiques pour optimiser votre production d'énergie.</p>
            </div>
            <div class="home-container">
                <img src="{% static 'images/support.jpg' %}" alt="Support technique">
                <p>Bénéficier d'un support technique dédié pour toutes vos questions.</p>
            </div>
        </div>
        <h2>Notre mission</h2>
        <p>
            Nous croyons en un avenir énergétique durable et accessible. Notre plateforme a pour objectif de <strong>simplifier la gestion des installations solaires</strong> tout en <strong>maximisant leur efficacité</strong>. Que vous soyez un particulier, une entreprise ou une collectivité, nous vous accompagnons dans votre transition énergétique.
        </p>

        <section class="contact">
            <h2 id="typing-text"></h2>
            <div class="contact-info">
                <div class="contact-item">
                    <i class="fas fa-envelope"></i>
                    <a href="#">&nbsp;&nbsp; hrpirkt@gmail.com</a>
                </div>
                <div class="contact-item">
                    <i class="fas fa-phone"></i>
                    <a href="#">&nbsp;&nbsp;+261 34 65 070 44 / +261 34 95 059 94</a>
                </div>
            </div>
        </section> 

    </main>

    <footer>
        <p>© 2025 Surveillance des installations Solaires. <br>Tous droits réservés.</p>
    </footer>

    <script>
        const titleElement = document.getElementById("animated-text");
        const emailElement = document.getElementById("email-text");
        const phoneElement = document.getElementById("phone-text");

        const titleText = "Contactez-nous";
        const emailText = "hrpirkt@gmail.com";
        const text = "Contactez-nous";
        const typingText = document.getElementById("typing-text");

        let index = 0;
        let isDeleting = false;

        function typeEffect() {
            if (!isDeleting) {
                typingText.innerText = text.substring(0, index + 1);
                index++;
                if (index === text.length) {
                    setTimeout(() => isDeleting = true, 1000); // Pause avant suppression
                }
            } else {
                typingText.innerText = text.substring(0, index - 1);
                index--;
                if (index === 0) {
                    isDeleting = false;
                }
            }
            setTimeout(typeEffect, isDeleting ? 100 : 150); // Vitesse de suppression et écriture
        }

        typeEffect();

    </script>
    
</body>
</html>