{% extends 'base.html' %}
{% load static %}

{% block title %}profile {% endblock %}

{% block content %}
    
    <div class="profile-details">
        <h2 class="section-title"><i class="fas fa-user"></i> Information de mon compte</h2>
        <br>
        <p><i class="icon">&#128100;</i>&nbsp;&nbsp;<strong>Nom d'utilisateur :&nbsp;&nbsp;&nbsp;</strong>{{ username }}</p>
        <p><i class="icon">&#128231;</i>&nbsp;&nbsp;<strong>Email :&nbsp;&nbsp;&nbsp;</strong></strong> {{ email }}</p>
        <p><i class="icon">&#128273;</i>&nbsp;&nbsp;<strong>API_key :</strong>&nbsp;&nbsp;&nbsp;</strong>
            <code id="apiKey">{{ api_key }}</code>
            <button class="copy-btn" onclick="copyToClipboard()">Copier</button>
        </p>
        <p><i class="icon">&#128197;</i>&nbsp;&nbsp;<strong>Date de création :</strong>&nbsp;&nbsp;&nbsp;</strong>{{ date_joined|date:"d / m / Y à H : i" }}</p>
    </div>
    
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/script_profile.js' %}"></script>
{% endblock %}